<h2>@ViewBag.Title</h2>
@*this will bind the paragraphs tags text attribute to the viewmodels MessageToClient Property*@
<p data-bind="text: MessageToClient"></p>

<div>
    <div class="form-group">
        <label for="CustomerName" class="control-label">Customer Name:</label>
        @*event: {change: flagSalesOrderAsEdited} binds it to the function in JS script file*@
        <input name="CustomerName" id="CustomerName" class="form-control" data-bind="value: CustomerName, event: {change: flagSalesOrderAsEdited}" />
    </div>
    <div class="form-group">
        <label for="PONumber" class="control-label">P.O. Number</label>
        <input name="PONumber" id="PONumber" class="form-control" data-bind="value: PONumber, event: {change: flagSalesOrderAsEdited}" />
    </div>
</div>
<p><button data-bind="click: save" class="btn btn-primary">Save</button></p>
<p>

    <a href="/" class="btn btn-default btn-sm">&laquo; Back to list</a>
</p>
